@import url('//cdn.jsdelivr.net/font-zero-width/1.0.0/zero-width.css'); 
#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}
body {
    background: #eee;
}

.high {
    height:0px;
}
@media (min-width: 768px) {
    .high {
      height: 39px;
    }
}

.pad_10 {
    padding: 10px;
}

.white {
    background: white;
}
.pad_50 {
    padding-left: 20px;
    padding-right: 20px;
}
.figure1 {  
    width: 100%;
    padding-bottom: 150%;   
    overflow: hidden;
    position: relative;
}
.figure1 p {
    margin: 0;
}
.figure1_child {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    font-size: calc(1vw + 2px);
    align-items: center;
}
.figure1_button {
    bottom: 5px;
    right: 5px;
    align-content: center;
}
.figure1_image {
    display:block;
    height:100%;  
    margin:6px;
}
.image_bcg {
    background-size: cover;
    background-position: center; 
}

.PrintCard {
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin: 40px;
}

.CreateBtn{
    margin-top: 50px;
}

.inspiration_board {
    margin-top: 50px;
}

.go_back_pictures {
    position: absolute;
    bottom: 85%;
    left: 11.3%;
}

/* The tooltip for the inspiration board button*/
.tooltip_inspiration {
    position: relative;
}

.tooltip_inspiration .tooltip_text {
    visibility: hidden;
    width: 200px;
    background-color: #474e54;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0 5px;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 35%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip_inspiration .tooltip_text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip_inspiration:hover .tooltip_text {
    visibility: visible;
    opacity: 1;
}
