.themePhoto {
    width: 309px;
    height: 470px;
    overflow: hidden;
    /*margin-left: 50px;*/
    /*padding-top: 25px;*/
    /*padding-right: 30px;*/
}

.theme_details {
    margin-top: 25px;
    margin-right: 90px;
}

.caption {
    color: darkgreen;
    text-align: center;
}

.select_theme {
    text-align: center;
}

.row_theme {
    padding-top: 50px;
    padding-left: 100px;
}