.change-ratio{
    width: 280px;
    overflow: hidden;
    margin: 0;
}

.themePhoto {
    display: block;
    width: 100%;
    margin: 0;
}

.caption {
    color: darkgreen;
}

.displayPhotos {
    margin-top: 100px;
    alignment: center;
}