.themePhoto {
    width: 309px;
    height: 470px;
    overflow: hidden;
}

.theme_details {
    margin-top: 25px;
    margin-right: 90px;
}

.caption {
    color: darkgreen;
    text-align: center;
}

.select_theme {
    text-align: center;
}

.row_theme {
    padding-top: 50px;
    padding-left: 80px;
}

.button_theme {
    position: absolute;
    width: 130px;
    height: 70px;
    left:105px;
    top: 220px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    border: solid 2px;
}

.theme_details:hover .button_theme {
    opacity: 1;
}

.theme_details {
    position: relative;
}

.no_themes_found {
    padding: 0 0 30px 500px;
    text-align: center;
    color: #138496;
    font-style: italic;
}

.searchBar{
    padding: 50px 0 0 480px;
}