.PrintCard {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 40px;
}

.PrintBtn{
    margin-left: 5;
    margin-right: 5;
    margin-top: 15px;
    margin-bottom: 15px;
  
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:15px;

    font-size: 16px; 
    color: white;
    background-color: #6698cb;
    border-radius: 4px;
    border-color: white;
}

.OpenCard{
    height: 420px;
    margin:100px;
    padding: 20px;
 }

.ClosedCard{
   height: 400px;
   margin:20px;
   padding: 20px
  }

  .figure{  
    width:300px;
    overflow: hidden;
    margin:0;  
    opacity:0.2;
  }
  .figureImg1{
    width:280px;  
    margin-left:300px;
  }

  .figureImg2{
    width:280px;  
    opacity:0.2;
  }