.PrintCard {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

  .figureImg11{
    width:540px;  
    margin-left:590px;
  }

  .figureImg12{
    width:540px;  
    opacity:0.2;
  }

  @media print{
    @page {
      size: landscape;
    }
  }

  .popup_save {
    text-align: center;
    /*padding-bottom: 30px;*/
    color: #138496;
    font-style: italic;
}

.new_card {
    margin-left: 20px;
}

#success {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
    background-color: #dff0d8;
    /*border-color: #d6e9c6;*/
    display: none;
}

.save_card {
    padding-left: 150px;
}