.PrintCard {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.OpenCard{
    height: 420px;
    margin:100px;
    padding: 20px;
 }

.ClosedCard{
   height: 400px;
   margin:20px;
   padding: 20px
  }

.figure{
    width:300px;
    overflow: hidden;
    margin:0;  
    margin-left: -75px;
    opacity:0.2;
  }

.figureImg1{
    width:360px;
    margin-top: 10px;
    margin-left:415px;
}

.figureImg2{
    width:360px;
    margin-top: 10px;
    opacity:0.2;
}

.card{
    margin-left: -80px;
}

.text{
    /* text-align: center; */
    padding: 40px;
}

  .figureImg11{
    width:540px;  
    margin-left:590px;
  }

  .figureImg12{
    width:540px;  
    opacity:0.2;
  }

  @media print{
    @page {
      size: landscape;
    }
  }

/*.saveCard {*/
/*    float: ;*/
/*}*/

