.PrintCard {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.card{
    margin-left: -80px;
}

.text{
    /* text-align: center; */
    padding: 40px;
}

  .figureImg11{
    width:540px;  
    margin-left:590px;
  }

  .figureImg12{
    width:540px;  
    opacity:0.2;
  }

  @media print{
    @page {
      size: landscape;
    }
  }

