#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}

.photo {
    width: 308.5px;
    height: 470px;
    overflow: hidden;
    padding-top: 25px;
    padding-right: 30px;
}

.photo:hover {
    opacity: 0.7;
}

.background_card {
    margin-right: 50px;
    width: 360px;
}

.cards_row {
    padding-left: 100px;
}

.title_select_card {
    text-align: center;
}
