#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}

figure{  
    width:180px;
    overflow: hidden;
    margin:0;  
  }
  figure img{
    display:block;
    width:100%;  
    margin:0;
  }