.logo {
    /*padding-left: 50px;*/
    margin-left: 30px;
}

.inspiration_board {
    color: white;
    /*bottom: 10px;*/
    /*position: fixed;*/
    right: 20px;
    /*float: right;*/
    /*margin-left: 1000px;*/
}

