#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}
.Welcome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.CreateBtn{
    margin-left: 5;
    margin-right: 5;
    margin-top: 15px;
    margin-bottom: 15px;
  
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:15px;

    font-size: 16px; 
    color: white;
    background-color: #6698cb;
    border-radius: 4px;
    border-color: white;
}

.OpenCardWelcome{
    margin-top:20px;
 }

  .figureImg{
    width:280px;  
    margin-left:-75px;
  }
