#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}
.Welcome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.CreateBtn{
    margin: 15px 5px 15px 5px;
    padding: 15px 20px 15px 20px;
    font-size: 16px; 
    color: white;
    background-color: #6698cb;
    border-radius: 4px;
    border-color: white;
}

.OpenCardWelcome{
    margin-top:20px;
 }

.figureImg {
    width: 280px;
    margin-left: -150px;
    margin-right: -75px;
}

.ClosedCard{
   height: 400px;
   margin:20px;
   padding: 20px
}
