#banner {
    background-color: #c5c3be;
    color: black;
    text-align: center;
    padding: 15px;
}
.Welcome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.OpenCardWelcome{
    margin-top:20px;
 }

.figureImg {
    width: 280px;
    margin-left: -150px;
    margin-right: -75px;
}

.create_card {
    margin-bottom: 50px;
}